.form__input-label {
    min-height: 44px;
}

.form__input-label:first-of-type {
    margin-top: 16px;
}

.form__input-label:only-of-type {
    margin-bottom: 13px;
}

@media (max-width: 414px) {
    .form__input-label:first-of-type {
        margin-top: 0;
    }
}