.popup__input-label {
    min-height: 44px;
}

.popup__input-label:first-of-type {
    margin-top: 16px;
}

.popup__input-label:only-of-type {
    margin-bottom: 13px;
}

@media (max-width: 414px) {
    .popup__input-label:first-of-type {
        margin-top: 0;
    }
}