.link {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: white;
    text-decoration-line: none;
    transition: 0.4s;

    text-align: center;

    display: block;
}

.link:hover {
    opacity: 60%;
}