.header {
    max-width: 880px;
    height: 74px;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px #545454 solid;
    align-self: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;

    grid-area: header;
}

@media (max-width: 900px) {
    .header {
        height: 56px;
        margin-bottom: 42px;
        padding-top: 28px;
    }
}