.header {
    max-width: 880px;
    height: 74px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 45px;
    border-bottom: 1px #545454 solid;

    transition: 0.4s;
}

@media (max-width: 900px) {
    .header {
        height: 56px;
        margin-bottom: 42px;
        padding-top: 28px;
    }
}